*{
	margin: 0;
	padding: 0;
}
.loginTop{
	width: 100%;
	height: 67px;
	background-color: #EBEBEB;
	line-height: 67px;
	
}
.loginTop-s1{
	width: 998px;
	margin: 0 auto;
	padding-top: 10px;
	overflow: hidden;
	position: relative;
	
}
.loginTopSpan{
	color: #999;
	font-size: 14px;
	position: absolute;
	left:150px;
	top: 2px;
}
.loginTop-s2{
	position: absolute;
	top: 0px;
	left: 425px;
}

/* .login-Mid1{
	
} */
.login-Mid1-s1{
	background: #FFFBE4;
	display: block;
	height: 20px;
	text-align: center;
	line-height: 40px;
	color: #989898;
	text-align: center;
	font-size: 12px;
}
.close{
	width: 14px;
	height: 14px;
	line-height:14px;
	font-size: 14px;
	color: #848484;
	font-weight:100;
	border: 0.5px solid #777777;
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;
}
.login-Mid1-s2{
	background: #FFFBE4;
	display: block;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #989898;
	text-align: center;
	font-size: 12px;
}
.login-Mid2{
	width: 100%;
	min-width: 1200px;
	height: 590px; 
	background-color: #081638;
	
}
.login-Mid2-s1{
	background-image: url(img/loginBj.png);
	width: 1130px;
	margin: 0 auto;
	zoom: 1;
	position: relative;
	height: 590px;
}
.login-txt{
	margin-top: 30px;
    margin-bottom: 30px;
    height: 530px;
    position: relative;
    width: 380px;
    float: right;
    background-color: #fff;
	text-align: center;
	z-index: 2000;
}

.login-txt p{
	width: 100%;
    margin: 24px auto;
    text-align: center;
}
.login-txt1{
	display: inline-block;
	/* width: 50%; */
	text-align:center;
	/* background: #848484; */
	font-size: 20px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    width: 169px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px;
	font-family: "Microsoft YaHei"!important;
	margin-bottom: 10px;
}

.login-txt1 a{
	text-decoration: none;
	font-size: 20px;
	color: #333;
	font-weight: 500;
	cursor: pointer;
}
.login-txt span:last-child{
	border-left: 1px solid #ccc;
}
.login-txt span:first-child {
	color: #b40707;
}

.login-txt-1{
	width: 90%;
	height: 412px;
	margin: 0 auto;
	position: relative;
	
}
.login-scan{
	height: 412px;
	width: 90%;
	margin: 0 auto;
	position: relative;
	/* background-color: #0064CC; */
	background-image: url(img/login4.png);
	background-size: 100%;
	display: none;
}
.login-txt-1 input{
	width: 100%;
	height: 46px;
	border: none;
	border-bottom: 1px solid #ccc;
	color: #ccc;
	font-size: 16px;
}
.login-test{
	text-align: left;
	display: inline-block;
	width: 100%;
	height: 46px;
	line-height: 46px;
	border: none !important;
	font-size: 12px;
	color: #0064cc !important;
	cursor: pointer;
	
	
}
.login-test-Bj{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image:url(img/1.svg) ;
	background-position: -8px 0;
	border: none !important;
}
.login-sub{
	background-color:firebrick ;
	border-radius: 26px;
	background-color: #b40707;
    border-width: 1px;
    border-style: solid;
    border-color: #b40707;
    color: #fff !important;
	cursor: pointer;
	position: relative;
}
.login-sub:hover{
	background-color: brown;
}
#rember{
	width: 18px;
	height: 18px;
	display: inline-block;
	text-align: left!important;
	border: none !important;
	background:white;
	
	/* margin-right: 10px; */
	/* margin-bottom: -14px; */
	position: absolute;
	left: 0;
	top: 15px;
	
	
}
/* #rember:hover{
	display: none;
} */
.rember{
	width: 100%;
	height: 46px;
	line-height: 46px;
	display: inline-block;
	text-align: left;
	border: none !important;
	font-size: 12px;
	overflow: hidden;
	position: relative;
	padding-left: 20px;
}
.login-more{
	position:absolute;
	right: 0px;
	top: 200px;
}
.login-more a{
	text-decoration: none;
	font-size: 14px;
	color: #0064cc;
	cursor: pointer;
}
.login-txt2{
	font-size: 12px;
	width: 60px;
	display: inline-block;
}
.login-more-b{
	position: absolute;
	top: 210px;
}
.login-more-b a{
	text-decoration: none;
	color: #0064cc !important;
}
.login-bottom{
	margin-top: 89px;
}
.login-bottom img{
	width: 100%;
	
}
hr{
	display: inline-block;
	width: 20%;
	border-bottom: 0.5px solid #ccc;
}
.login-bottom1{
	color: #ccc;
	font-size: 12px;
}
.login-bottom2{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 30px;
	width: 85%;
}
.img{
	width: 30px;
	height: 30px;
	background-color: skyblue;
	display: block;
}