
*{
	margin: 0;
	padding: 0;

}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: black;
}
#top-banner a{
	
	color: #aca4ac;
	font-size: 12px;
}
a:hover{
	color: brown;
}
#top-banner a:hover{
	color: brown;
}
#top-banner ul{
	list-style-type: none;
}
#top-banner li{
	float: left;
	padding: 0 2px;
	
}
/* #top-banner li:before{
	content: "";
	    width: 1px;
	    height: 10px;
	    display: block;
	    position: absolute;
	    top: 13px;
	    left: 0;
	    background: #d3d3d3;
	} */

#top-banner{
	width:100%;
	display: flex;
	justify-content:space-around;
	background-color: #f9f9f9;
	height: 36px;
	line-height: 36px;
	
}
.space{
	color: #d3d3d3;
	/* margin: 0 5px; */
	font-size: 10px;
	width: 1px;
}
/* 左边导航栏 */
.moreBoss{
	position: relative;
}

.more2{
	display: none;
	position: absolute;
	top = 36px;
	left: -33px;
	z-index: 311;
}

/* 加载更多的div */
#moreLi{
	width: 85px;
	text-align: center;
	
}
/* 给'加载更多'背景图片 */
.more1 a:before{
	content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url(img/1.svg) no-repeat;
    background-position: -71px 0;
    position: absolute;
    top: 12px;
   right: -1px;
   
}
.more2-1{
	width: 119px;
	position: absolute;
	text-align: center;
	background: #fff;
	box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
	/* display: none; */
}
.moreBoss:hover {
	background-color: #fff;
}
/* .moreBoss:hover a{
	color: red;
} */
/* 鼠标移入显示下拉列表 */
.moreBoss:hover .more2{
	display: block;
	
}
.more2:hover .more1 a{
	color: red;
}

.moreBoss:hover .more1 a:before{
	content: "";
	 display: block;
	 width: 14px;
	 height: 14px;
	 background: url(img/1.svg) no-repeat;
	 background-position: -85px 0px;
	 position: absolute;
	 top: 12px;
	right: -1px;
}
/* 右边导航栏开始 */
.leftBj{
	width: 66px;
	position: relative;
}
/* 手机版的宽 */
#leftBjT{
	width: 52px;
}

.leftBj:hover{
	background-color: #fff;
}
/* 网站导航下的下拉菜单 */
.homeBj{
/* 	position: absolute; */
	width: 200px;
	
	
}
#homeBj-1{
	width: 50px;
	margin-left: 50px;
	margin-top: 20px;
	height: 50px;
	margin-bottom: 0px;
	background: url(img/1.svg);
	/* background-size: 50px 50px; */
	background-position: -202px 0px;
}
#homeBj-2{
	margin-left: 50px;
}
.homeBjSpan{
	display: inline-block;
	width: 95px;
}
#more2-1{
	display: flex;
}


/* 首页商城下拉显示块样式 */
.more2-r-1{
	position: absolute;
	right: -100px;
	width: 1000px;
	background-color: floralwhite;
	background: #fff;
	box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
}


#phone1-l{
	background-image: url(img/phone1.png);
	/* background-position: ; */
	width: 90px;
	height: 90px;
	background-size: 100%;
}
#phone2-l{
	background-image: url(img/phone2.jpg);
	/* background-position: ; */
	width: 90px;
	height: 90px;
	background-size: 100%;
}
#phone3-l{
	background-image: url(img/phone3.jpg);
	/* background-position: ; */
	width: 90px;
	height: 90px;
	background-size: 100%;
}

#more2-r-2{
	width: 244px;
	background: #fff;
	box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
	position: absolute;
	/* top: 36px; */
	right: -85px;
}
.phone1{
	display: flex;
	padding-left: 24px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	padding-top: 20px;
}
.phone-p1{
	line-height: 18px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
}
.phone-p2{
	color: #cb242b;
	line-height: 16px;
	font-size: 12px;
	
}
.b{
	height: 32px;
	width: 70px;
	margin-top:5px ;
	background-image: url(img/1.svg);
}
#phone1-r{
	padding-left:10px;
}
#cart:before{
	content: "";
    display: block;
    width: 17px;
    height: 14px;
    background: url(img/1.svg) no-repeat;
    background-position: -99px -3px;
    position: absolute;
    top: 12px;
	left: 0px;
}
/* .leftBj:hover #cart:before{
	
	content: "";
	display: block;
	width: 17px;
	height: 14px;
	background: url(img/1.svg) no-repeat;
	background-position: -120px -3px;
	position: absolute;
	top: 12px;
	left: 0px;
} */
#cart{
	width: 76px;
}

#cart a{
	padding-left: 17px;
}
/* 捷径栏下边的头部 */

#top2{
	width: 100%;
	height: 74px;
	overflow: hidden;
}
#top2-min{
	width:1200px;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
}
#top2-l{
	float: left;
	width: 870px;
	
	
}
#top2-l-logo{
	float: left;
	
	margin-right: 40px;
}
#top2-l-logo img{
	width: 205px;
	height: 36px;
}
.top2-l-r-1{
	width: 74px;
	height: 24px;
	line-height:24px;
	margin-top: 6px;
	border-radius: 12px;
}
.top2-l-r-1 img{
	width: 74px;
	height: 24px;
}
#top2-l-r li{
	float: left;
	list-style: none;
	margin-right:30px;
}

.top2-l-r-1:hover{
	background-color: #FFFFFF;
	opacity: 0.5;
}

/* 头部搜索框 */
#top2-2{
	float: left;
}
#userSeach{
	border: 0;
    color: #3a3a3a;
    width: 285px;
    text-indent: 15px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    float: left;
	outline: none;
}
/* #userSeach:hover{
	border: ;
} */
.sub{
    cursor: pointer;
    border: 0;
    overflow: hidden;
    position: absolute;
    background: transparent;
    padding-right: 10px;
	
    color: #353535;
    font-size: 0;
    z-index:11;
	background-image: url(img/1.svg);
	background-position: -139px 0;
	 width: 20px;
	height: 20px;
	 top: 4px;
	right: 12px;
}
/* .sub:after{
	content: "";
    display: block;
    width: 20px;
    height: 20px;
	background-image: url(img/1.svg);
    background-position: -139px 0;
    position: absolute;
    top: 4px;
    right: 12px;
	
} */
.seachText:hover .sub{
	background-image: url(img/1.svg);
	background-position: -159px 0;
}
.seachText{
	line-height: 1;
    width: 318px;
    height: 28px;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    position: relative;
    z-index: 10;
}
/* 轮播图---------------------------------------- */
#bigBoss{
	position: relative;
}
#box{
	width: 100%;
	height: 550px;
	background-image: url(img/0.jpg);
	background-size:114% 550px;
	background-position: -36px;
	position: relative;
	/* top: 200px; */
	margin: 0px auto;
	
	
}
#up{
	cursor: pointer;
	border: 0;
	overflow: hidden;
	background: transparent;
	z-index: 500;
	position: absolute;
	left: 350px;
	top: 199px;
	width:80px ;
	height: 80px;
	outline: none;
	background-image: url(img/2.svg);
	background-position: 0px -72px;
}
#up:hover{
	background-image: url(img/2.svg);
	background-position: -240px -72px;
}
#next{
	cursor: pointer;
	border: 0;
	overflow: hidden;
	background: transparent;
	
	position: absolute;
	left: 1132px;
	top: 199px;
	width:80px ;
	height: 80px;
	outline: none;
	background-image: url(img/2.svg);
	background-position: -80px -72px;
}

#next:hover{
	background-image: url(img/2.svg);
	background-position: -160px -72px;
}
#box ul{
	position: absolute;
	top: 448px;
	left: 50%;
	width: 300px;
	
}
#box li{
	width: 10px;
	height: 10px;
	border-radius:50% ;
	list-style: none;
	float: left;
	margin: 10px;
	
	background-color: white;
}
/* 轮播结束----------------------------------------- */
/* 轮播下面的半圆遮罩 */
.mask{
	width: 100%;
	min-width: 1200px;
	height: 72px;
	position: absolute;
	top: 480px;
	bottom: 0px;
	background-image: url(img/bg-slide.png);
	background-size: 100% 72px;
	}
/* 轮播图左边导航栏 */
#slide{
	position: absolute;
	top: 18px;
	left: 150px;
	z-index: 13;
	width: 200px;
	overflow: hidden;
}
.slide1{
	position:relative;
	height: 440px;
    box-shadow: 0 0 46px rgba(0,0,0,0.07);
    background: rgba(255,255,255,0.95);
    border-radius: 10px;
	
	
}
#slide li{
	list-style-type: none;
	float: left;
	margin-top: 22px;
	
}
#slide a{
	font-size: 14px;
    color: #848484;
}
.nbsp{
	display: inline-block;
	width: 15px;
}
#slide a:hover{
	color: brown !important;
}
.slide1-1{
	overflow: hidden;
	width: 200px;

}
.bottom{
	
	border-bottom: 0.5px solid  #848484;
	opacity: 0.6;
	overflow: hidden;
	padding-bottom: 10px;
	width: 143px;
	margin: 0 auto;
}
/* #slide .slide1-1:hover{
	background-color: #FFFFFF;
	box-shadow: 0 0 46px rgba(0,0,0,0.07);
	 
} */
#slide .slide1-1:hover a{
	color: black;
}
#slide .slide1-1:hover .bottom{
	border-bottom:none;
}

.slide-more{
	z-index:500;
	width: 800px;
	background: #fff;
	position: absolute;
	top: 18px;
	left: 350px;
	display: none;
}

.slide-more-1{
	display: flex;
	/* overflow: hidden; */
}
.slide-more-s-img{
	width: 56px;
	height: 56px;
	background-image: url(img/78-4.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 27px;
	margin-right: 15px;
	
}
.slide-more-1 li{
	width: 300px;
	display: flex;
}
/* .slide-more:hover{
	display: block;
} */
.slide-more-1 span{
	margin-top: 45px;
	float: left;
}
.slide-more-s-last-li{
	margin-top: 40px;
	width: 200px !important;
}

/* 轮播下面的公告栏 */
.abs-bottom-boss{
	position: relative;
    top: -80px;
    height: 34px;
	text-align: center;
	margin: 0 auto;
	width: 1200px;
}
.abs-bottom{
	/* width:1200px;
	
	overflow: hidden;
	position: absolute;
	top: 520px;
	z-index: 320;
	background-color:#fff;
	box-shadow: 0 0 46px rgba(0,0,0,0.07);
	border-radius: 10px;
	left:7%;
	height: 88px;
	line-height: 72px; */
	
	background: #FFF;
    text-align: center;
    border-top: 0 none;
    width: 1200px;
    height: 88px;
    border-radius: 10px;
    box-shadow: 0 2px 26px rgba(0,0,0,0.07);
   /* position: absolute; */
/* 	left:7%; */
    z-index: 2;
}
.abs-bottom1 {
	display:flex;
	width: 800px;
	margin-left: 60px;
	
}
.abs-bottom1-1{
	width: 52px;
	height: 52px;
	margin-top: 20px;
}
.abs-bottom1-1 img{
	width: 100%;
}

.abs-l{
	/* display: inline-block; */
	text-align: center;
	width: 66px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #e47b7f;
	border-radius: 5px;
    
    margin-right: 8px;
	position: absolute;
	left:140px;
	top: 55px;
	font-size: 13px;
}
.abs-l a{
	color: #de5b60;
}
.abs-r{
	position: absolute;
    width: 68px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background: #595454;
    border-radius: 5px;
    font-size: 13px;
	left: 220px;
	top: 55px;
}
.abs-r a{
	 color: #fde4b3;
}
.abs-bottom1-2{
	float: left;
	margin-left: 30px;
	
}
.abs-bottom1-2 p{
	color: #999;
	font-size: 14px;
}
.abs-bottom2{
	position: absolute;
	left: 350px;
	top: 10px;
	
}
.abs-bottom2 li{
	list-style: none;
	display: inline-block;
	    line-height: 24px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777;
}
.abs-bottom2 ul{
	display: flex;
}
.abs-min1{
	width: 40px;
	height: 40px;
	background-image: url(img/abs-b-2.png);
	margin-left: 30px;
	background-size: 800%;
	
}
.abs-min2{
	
	width: 40px;
	height: 40px;
	background-image: url(img/abs-b-2.png);
	background-position: -45px;
	background-size: 800%;
	margin-left: 30px;
}
.abs-min3{
	
	width: 40px;
	height: 40px;
	
	background-image: url(img/abs-b-2.png);
	background-position: -87px;
	background-size: 800%;
	margin-left: 30px;
}
.abs-min4{
	
	width: 40px;
	height: 40px;
	background-image: url(img/abs-b-2.png);
	background-position: -131px;
	background-size: 800%;
	margin-left: 30px;
}
.abs-min5{
	
	width: 40px;
	height: 40px;
	background-image: url(img/abs-b-2.png);
	background-position: -173px;
	background-size: 800%;
	margin-left: 30px;
}
.abs-min6{
	
	width: 40px;
	height: 40px;
	background-image: url(img/abs-b-2.png);
	background-position: -215px;
	background-size: 800%;
	margin-left: 30px;
}
.abs-bottom2 p{
	width: 100px;
}
.abs-bottom2 ul a:hover {
	color: red; 
	
}
.abs-bottom3{
	position: absolute;
	right: 310px;
	top: 0;
	left: 80%;
	/* right: 0px; */
	width: 343px;
	/* float: left; */
	
}


.abs-bottom3-s1{
	display: flex;
	height: 45px;
	line-height: 45px;
	overflow: hidden;
}
/* .abs-bottom3-s1 p{
	height: 45px;
	padding-left: 10px;
	position: absolute;
	
} */
.abs-bottom3-s1-2{
	
	z-index: 10;
	height: 35px;
	width: 305px;
	overflow: hidden;
	position: absolute;
	top: 10px;
}
.abs-bottom3-s1-2 .slip{
	height: 35px;
	padding-left: 10px;
	font-size: 14px;
}
.upSlip1{
	position: absolute;
	top: -11px;
	left: 40px;
	
}
/* .upSlip2{
	/* float: left; */
} */
.abs-bottom3-s2{
	/* display: flex; */
	/* height: 40px; */
	font-size: 10px;
}
.abs-bottom3-s2-1{
	/* display: flex; */
	float: left;
	line-height: 40px;
	margin-right: 10px;
	width: 70px;
	position: relative;
}
.abs-bottom3-s2-1-img1{

	background-image: url(img/abs-b-2.png);
	width: 20px;
    height: 20px;
    background-image: url(img/abs-b-2.png);
    background-position: -469px 3px;
    background-size: 1305%;
	
	float: left;
    
}
.abs-bottom3-s2-1 span{
	font-size: 10px;
	position: absolute;
	top: -10px;
	left: 30px;
}
.abs-bottom3-s2-1-img2{
	background-image: url(img/abs-b-2.png);
	width: 20px;
	height: 20px;
	background-position: -487px 3px;
	background-size: 1305%;
	float: left;
}
.abs-bottom3-s2-1-img3{
	background-image: url(img/abs-b-2.png);
	width: 20px;
	height: 20px;
	background-position: -502px 3px;
	background-size: 1305%;
	float: left;
}



/* 中间一堆图片 */
/* 第一块----------------------------------------- */
.middle{
	width:1200px;
	margin: 0 auto;
	/* overflow: hidden; */
}
.middle1{
	
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0 auto;
	
}
.middle1-img{
	width: 290px;
	height: 200px;
	/* background-color: #000000; */
	background-size: 100%;
	border-radius: 10px;
}
.middle1-img:hover{
	box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}
#middle1-img{
	background-image: url(img/mid1-1.jpg);
}
#middle2-img{
	background-image: url(img/mid1-2.jpg);
}
#middle3-img{
	background-image: url(img/mid1-3.jpg);
}
#middle4-img{
	background-image: url(img/mid1-4.jpg);
}

/* 中间第二块---------------------------------------------------- */
.middle2{
	width:100%;
	margin: 0 auto;
	display: flex;
}
.middle h2{
	width: 100%;
	margin: 20px;
	display: block;
	margin-left: 5px;
	font-weight: 500;
}
.middle2-l{
	width: 230px;
	height: 592px;
	background-image: url(img/mid2-1.jpg);
	background-size: 100%;
	border-radius: 10px;
}
.middle2-l:hover{
	box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}
.middle2-r{
	width: 978px;
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.middle2-r-1{
	width: 230px;
	height: 290px;
	background: #f9f9f9;
	border-radius: 10px;
}
.middle2-r-1:hover{
	box-shadow: 0 12px 36px rgba(0,0,0,0.1);
}
.middle2-r-up{
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden;
}
.new{
	display: block;
	width: 35px;
    padding: 0 9px;
    margin: 0 auto;
    height: 22px;
    line-height: 22px;
    color: #fff;
    border-radius: 0 0 6px 6px;
	background-color: #68BEFF;
}
.new1{
	display:block;
	height: 22px;
}
.middle2-r-up img{
	width: 150px;
	height: 150px;
	margin-top: 30px;
	
}
#middle2-r-up-p1{
	width: 210px;
    /* display: block; */
   margin: 0 auto;
    padding: 0;
    margin-top: 12px;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
}
#middle2-r-up-span{
	color: #777;
    line-height: 18px;
    padding: 0 10px;
    margin: 2px 20px 7px;
	font-size: 12px;
    font-weight: 400;
	
}
#middle2-r-up-p2{
	color: #d0021b;
    line-height: 21px;
    margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
}
/* 精品 ---------------------------------------------  分页 */
.middle3{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.middle3 li{
	width: 242px;
    height: 295px;
    margin-bottom: 10px;
	text-align: center;
	list-style: none;
}
.middle3 img{
	width: 150px;
	height: 150px;
	margin-top: 30px;
	
}
.middle3 ul{
	display: flex;
	justy-content:space-around;
	width: 1200px;
	position: relative;
	/* overflow: hidden; */
}
#demo{
	position: relative;
}
.middle3 ul a{
	height: 295px;
}
.middle3 #middle2-r-up-span{
	background:yellowgreen;
	border-radius: 8px;
	display: inline-block;
	/* border: 1px solid darkgray; */
	width: 209px;
	float: left;
	margin-left: 0;
	box-shadow: 0 12px 36px rgba(0,0,0,0.1);
/* 	box-shadow: 0,0,0,0.5; */
}

/* 向右的按钮 -----------------------------------------------------*/
.pageBtn{
	margin-top: 0;
    left: 0;
    border-radius: 0 8px 8px 0;
	width: 36px;
    height: 72px;
    top: 101px;
    background: rgba(0,0,0,0.06);
    text-align: center;
	overflow: hidden;
	position: absolute;
}
.pageBtn:hover{
	background: rgba(0,0,0,0.15);
}
.pageBtn-s{
	width: 24px;
	height: 24px;
	background: url(img/page-1.png);
	background-position: -10px -29px;
	margin-top: 24px;
}
/* 向左的按钮 -----------------------------------------*/
.pageBtn1{
	margin-top: 0;
    /* left: 6px; */
    border-radius:  8px 0 0 8px;
	width: 36px;
	right: 2px;
    height: 72px;
    top: 101px;
    background: rgba(0,0,0,0.06);
    text-align: center;
	overflow: hidden;
	position: absolute;
}
.pageBtn1:hover{
	background: rgba(0,0,0,0.15);
}
.pageBtn1-s{
	width: 24px;
	height: 24px;
	background: url(img/page-1.png);
	background-position: 12px -29px;
	margin-top: 24px;
}
/* 小轮播-------------------------------------------- */

#middle4{
	width: 100%;
	height: 120px;
	background-image: url(img/absMin2.jpg);
	background-size:100%;
	background-position: -36px;
	position: relative;
	/* top: 200px; */
	margin: 0px auto;	
	border-radius: 10px;
}
#middle4 ul{
	position: absolute;
	top:90px;
	left: 70%;
	width: 300px;
	
}
#middle4 li{
	width: 10px;
	height: 10px;
	border-radius:50% ;
	list-style: none;
	float: left;
	margin: 10px;
	background-color: white;
}
/* 小轮播absMin 结束------------------------------ */
.midberDiv{
	position: relative;
	top: -45px;
	left: 60px;
}
.mid5BefUl{
	display: flex;
	
}
.mid5BefUl a{
	font-size:16px;
	color: #999999;
}
.mid5BefUl li{
	list-style: none;
	margin-left: 20px;
}
.Mid5BefSpan{
	font-size:16px;
	float: left;
	margin-left:30px;
	color:black;
	
}

a:hover{
	color: red;
}

/* middle5---手机那里---------- */
.middle2-r-copy{
	width: 100%;
}
.middle2-r-1-f{
	background-image: url(img/mid2-r-11.png);
	background-size: 100%;
	width: 230px;
	height: 290px;
	border-radius: 10px;
}
.midberDiv2{
	position: relative;
	top: -45px;
	left: 160px;
}
.Mid5BefSpan2{
	font-size:16px;
	float: left;
	margin-left:600px;
	color:black;
}
.middle2-r-copy2 .middle2-r-1-f{
	background-image: url(img/mid2-r-12.jpg);
	background-size: 100%;
	width: 230px;
	height: 290px;
	border-radius: 10px;
}

.midLast{
	width: 100%;
	height: 200px;
	border-radius:10px;
	overflow: hidden;
	margin-top: 30px;
}
/*  */
/* 底部栏开始 */
footer{
	width: 100%;
	height: 450px;
	background: #f9f9f9;
	margin-top:60px;
	overflow: hidden;
}
.mid-bottom{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.mid-bottom1-1-img{
	display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(img/2.svg) -74px 0px no-repeat;
	margin-top: 30px;
}
.mid-bottom1-1-txt{
	margin-top: 10px;
	font-size: 18px;
    color: #333;
}
.mid-bottom1-1{
	display: flex;
	height: 82px;
	line-height: 82px;
	width: 100%;
	border-bottom:  0.5px solid  #848484;
	padding-bottom: 20px;
	/* opacity: 0.6; */
}
.mid-bottom1-2-img{
	display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(img/2.svg) -114px 0px ;
	margin-top: 30px;
}
.mid-bottom1-3-img{
	display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(img/2.svg) -154px 0px ;
	margin-top: 30px;
}
.mid-bottom1-4-img{
	display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background: url(img/2.svg) -194px 0px ;
	margin-top: 30px;
}
.mid-bottom1{
	display: flex;
	
}

/* 底部第二栏开始 */
.mid-bottom2{
	margin-top: 40px;
/* 	overflow: hidden; */
}
.mid-bottom2 a:hover{
	color: red;
}
.mid-bottom2-1{
display: flex;
border-right: 0.5px solid ;
float: left;
width: 920px;
height: 155px;
padding-top: 5px;
border-right: 1px solid #e5e5e5;
justify-content: space-around;
}
.mid-bottom2-1 ul{
	width: 16.7%;
}
.mid-bottom2-1 li{
	list-style: none;
}
.mid-bottom2-1 li a{
	font-size: 12px;
	color: #777;
	cursor: pointer;
}
/* .mid-bottom2-1 p{
	
} */
.mid-bottom2-2{
width: 279px;
min-height: 160px;
margin-top: 2px;
text-align: center;
float: left;
padding-top: 20px;
font-size: 14px;
color: #575757;
}
.mid-bottom2-2 h1{
	color: #575757;
    font-weight: bold;
	font-size: 24px;
	margin-bottom: 5px;
}
#mbi{
	display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    vertical-align: middle;
    position: relative;
    top: -1px;
	background-image: url(img/1.svg);
	background-position: -46px -274px;
}
#mid-bottom2-2-div{
	height: 34px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px;
    line-height: 34px;
    background: #333;
    cursor: pointer;
    border-radius: 17px;
	width: 40%;
	color: #fff;
}

/* 友情链接------------------------------------- */
.friendShipBoos{
	overflow: hidden;
	position: relative;
}

.friendShip-s{	
	float: left;
}
.friendShip-s li{
width: 65px;
}
#friendShip{
	width: 606%;
	overflow: hidden;
	position: absolute;
	/* background-color: blueviolet; */
	/* left: 300px; */
}
.friendShipBoos p{
	overflow: hidden;
}
.friendShipBtn1:before{
	content: "<";
	font-family: "iconfont"!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale;
	color: #343434;
	font-size: 15px;
	position:relative;
	top: -18px;
	left: 70px;
	display: block;
	text-indent: 0;
	line-height: 14px;
	float: left;
	
}

.friendShipBtn2:before{
	content: ">";
	font-family: "iconfont"!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale;
	color: #343434;
	font-size: 15px;
	position:relative;
	top: -18px;
	left: 70px;
	display: block;
	text-indent: 0;
	line-height: 14px;
	float: left;
	
}



/* 关注Vmall */
.mid-bottom2-2-3{
	margin-top:10px ;
	position: relative;
}
.mid-bottom2-2-3 span{
	float: left;
	margin-left: 30px;
}
.mid-bottom2-2-ul{
	display: flex;
	float: right;
	width: 55%;
	justify-content: space-around;

}
.mid-bottom2-2-ul li{
	list-style: none;
	width: 24px;
	height: 24px;
	background-image: url(img/footer-1.png);
	background-size: 100%;
	margin-right: 10px;

}
.footer-more2-1{
	width:150px ;
	height: 150px;
	background: url(img/footer-1.png) no-repeat;
	background-size: 100%;
	display: none;
	position: absolute;
	top: 20px;
	left: 35px;
}
.mid-bottom2-2-ul:first-child:hover .footer-more2-1{
	display: block;
}
.footer-more2-1:hover{
	display: block;
}
/* 最下面底部 */
.mid-bottom3{
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 20px;
	overflow: hidden;
	width: 100%;
	border-top: 1px solid darkgray;
}
.mid-bottom3-l{
	overflow: hidden;
}
.mid-bottom3-l-l{
	width: 82px;
	height: 48px;
	float: left;
}
.mid-bottom3-l-l img{
	width: 100%;
	height: 20px;
}
.mid-bottom3-l-r{
	overflow: hidden;
}
.mid-bottom3-l-r ul{
	/* display: flex; */
	float: left;
	margin-left: 90px;
	font-size: 12px;
	color: #777777;
}
.mid-bottom3-l-r li{
	list-style: none;
	display: inline-block;
	
}
.mid-bottom3-l-r a{
	font-size: 12px;
	color: #777777;
}
a:hover{
	color: red;
}
/* 右下固定 */
.slideBtn{
	position: fixed;
	top: 550px;
	width: 38px;
	right: 0;
}
.slideBtn li{
	display: block;
    width: 38px;
    height: 38px;
    position: relative;
    top: 1px;
	
}
.slideBtn-1{
	background-image: url(img/1.svg);
	background-position:0 -75px ;
}
.slideBtn-2{
	background-image: url(img/1.svg);
	background-position:-36px -75px ;
}
.slideBtn-3{
	background-image: url(img/1.svg);
	background-position:-75px -75px ;
}
.slideBtn-4{
	background-image: url(img/1.svg);
	background-position:-113px -75px ;
	
}

.slideBtn-1:hover{
	background-image: url(img/1.svg);
	background-position:0px -38px ;
	
}
.slideBtn-2:hover{
	background-image: url(img/1.svg);
	background-position:-36px -38px ;
}
.slideBtn-3:hover{
	background-image: url(img/1.svg);
	background-position:-75px -38px ;
}
.slideBtn-4:hover{
	background-image: url(img/1.svg);
	background-position:-113px -38px ;
}
/* 鼠标移入出来带箭头的小框框 */
.fi-1{
	position: absolute;
	display: none;
    width: 76px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #777;
    background: #fff;
	font-size: 12px;
    border-radius: 2px;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
    left: -84px;
    top: 0;
    font-style: normal;
}

.fi-1:after{
	content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid #fff;
    position: absolute;
    top: 13px;
    right: -6px;
}
.slideBtn-1:hover .fi-1{
	display: block;
}
.slideBtn-2:hover .fi-1{
	display: block;
}
.slideBtn-3:hover .fi-1{
	display: block;
}
.slideBtn-4:hover .fi-1{
	display: block;
}
/* 营业执照那块营业执照那块营业执照那块营业执照那块 */
.mid-bottom3-r{
	position: absolute;
	right: 0;
	top: 340px;
	
}
.mid-bottom3-r img{
	width: 70px;
	height: 24px;
}
#maskBoss{
	width: 100%;
	height: 100%;
	position:absolute;
	/* top: -2%!important; */
	z-index: 1999;
	background:rgba(0,0,0,0.4);
	/* display: none; */
}